/* -------------- Section 1 - Defaults ------------ */
/* --------------- Section 2 - Styles -------------- */
p {
  font-family: Segoe UI;
  font-colour: "black";
}

.tab-title {
  font-size: 40px;
  color: "black";
  font-family: Segoe UI;
  text-align: center;
  padding-bottom: 1%;
}
