/* -------------- Section 1 - Defaults ------------ */
/* --------------- Section 2 - Styles -------------- */
* {
  font-family: Segoe UI;
}

.tab-title {
  font-size: 40px;
  color: "black";
  font-family: Segoe UI;
  text-align: center;
  padding-bottom: 1%;
}
